@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	background-image: url(../img/background.jpg);
	background-position: center center;
	background-size: 100%;
	background-repeat: no-repeat;
	font-family: 'Open Sans';
}

body .body_precolor {
	background-color: rgba(0,0,0,0.5);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}

body .body_content_holder {
	position: relative;
	z-index: 2;
}

.main_navi {
	width: 900px;
	margin: auto;
	background: #fff;
	height: 50px;
	margin-bottom: 50px;
	overflow: hidden;
	position: relative;
	z-index: 5;
}

.main_navi .logo {
	height: 50px;
	width: 120px;
	background: orange;
	float: left;
}

.main_navi .navigation {
	height: 50px;
	float: right;
	overflow: hidden;
}

.main_navi .navigation .element {
	float: left;
	font-size: 14px;
	line-height: 14px;
	padding: 18px;
	cursor: pointer;
	transition: all 250ms;
}

.main_navi .navigation .element:hover {
	background: rgba(0,0,0,0.1);
}

.base {
	width: 900px;
	margin: auto;
	background: #fff;
}

.base.transparent {
	background: none;
}

.base .content {
	padding: 15px;
}

h1 {
	font-size: 28px;
	font-weight: 300;
	margin-top: 15px;
	margin-bottom: 15px;
}

h1.site_title {
	margin-top: 0px;
}

button {
	padding: 10px;
	margin: 0px;
	outline: 0px;
	background: #0491fc;
	border: none;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	transition: all 200ms;
}

button:hover {
	background: #3CA0EC;
}

button.big {
	padding: 15px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 16px;
}

button.small {
	padding: 8px;
	padding-right: 6px;
	padding-left: 6px;
	font-size: 13px;
}