.team_holder {
	width: 50%;
	margin-top: 40px;
}

.team_holder.left {
	float: left;
}

.team_holder.right {
	float: right;
}

.team_holder.left .holder {
	padding-right: 20px;
}

.team_holder.right .holder {
	padding-left: 20px;
}

.team_holder .team_name {
	font-size: 24px;
	font-weight: bold;
}

.team_holder.left .team_name {
	color: blue;
	text-align: right;
}

.team_holder.right .team_name {
	color: red;
	text-align: left;
}

/* Player */
.team_holder .player {
	height: 80px;
	margin-top: 15px;
	background: rgba(255,255,255,0.5);
}

.team_holder .player .champion_icon {
	height: 80px;
	width: 80px;
	background-size: 95px;
	background-position: center center;
}

.team_holder .player.blue .champion_icon {
	float: right;
}

.team_holder .player.red .champion_icon {
	float: left;
}

.team_holder .player .items {
	float: left;
	margin: 5px;
}

.team_holder .player.blue .items {
	float: right;
}

.team_holder .player .items .item_icon {
	height: 36px;
	width: 36px;
	background-size: 38px !important;
	background-position: center center !important;
	float: left;
}

.team_holder .player .items .item_icon {
	background: rgba(0,0,0,0);
}

.team_holder .player .items .items_clear {
	clear: left;
}

.team_holder .player .infos {
	float: left;
	text-align: left;
	padding: 5px;
}

.team_holder .player.blue .infos {
	float: right;
	text-align: right;
}

.team_holder .player .infos .buttons {
	float: left;
	margin-left: 12px;
}

.team_holder .player.blue .infos .buttons {
	float: right;
	margin-left: 0px;
	margin-right: 12px;
}

.team_holder .player .infos .spells {
	float: left;
}

.team_holder .player.blue .infos .spells {
	float: right;
}

.team_holder .player .infos .spells .spell_icon {
	width: 25px;
	height: 25px;
	background-size: 25px;
	background-position: center center;
	margin-top: 6px;
}